.container {
  padding: 0 40px;
  /* border: 1px solid red; */
}

.header {
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
  padding: 10px 0;
  cursor: pointer;
  /* border: 1px solid red; */
}

.list_container {
  padding: 20px 0;
  display: flex;
  align-items: flex-start;
  overflow-x: scroll;
  min-height: 75vh;
  /* border: 1px solid red; */
}

.add_feature_comp_container {
  width: 320px;
  margin-right: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  /* border: 1px solid red; */
}

.add_list_btn {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 15px;
  cursor: pointer;
  width: 320px;
  /* border: 1px solid red; */
}
